@page "/admin-user-change/{UserId}"

@attribute [StreamRendering(true)]
@rendermode @(new InteractiveServerRenderMode(false))

<h3>AdminUserChange</h3>

<EditForm method="post" Model="AdminUserChangeM" OnValidSubmit="AddRecordToDb" FormName="adminUserChange" Enhance>
    <DataAnnotationsValidator />
    <div class="form-floating mb-3">
        <InputText id="oldEmail" @bind-Value="AdminUserChangeM.OldEmail" class="form-control" placeholder="Email" disabled="true"></InputText>
        <label for="oldEmail" class="form-label">Current Email</label>
        <ValidationMessage For="() => AdminUserChangeM.OldEmail" class="text-danger" />
    </div>

    <div class="form-floating mb-3">
        <InputText id="newEmail" @bind-Value="AdminUserChangeM.NewEmail" class="form-control" placeholder="Email"></InputText>
        <label for="newEmail" class="form-label">New Email</label>
        <ValidationMessage For="() => AdminUserChangeM.NewEmail" class="text-danger" />
    </div>
    
    <label title="Check if you want change user data e.g. e-mail.">
        <InputCheckbox @bind-Value="ChangingData" />
        Changing data
    </label><br>
    
    <label title="Check if you want to add reputation points to the user.">
        <InputCheckbox @bind-Value="AddingRP" disabled="@RemovingRP" />
        Adding reputation points
    </label><br>
    
    <label title="Check if you want to remove reputation points from the user.">
        <InputCheckbox @bind-Value="RemovingRP" disabled="@AddingRP" />
        Removing reputation points
    </label><br>
    
    <label title="Check if you want to ban the user.">
        <InputCheckbox @bind-Value="BanningUser" />
        Banning user
    </label><br>
    
    <div class="form-group">
        <label for="description">Description</label>
        <InputTextArea id="description" @bind-Value="AdminUserChangeM.Description" class="form-control" rows="6">@AdminUserChangeM.Description</InputTextArea>
    </div>
    
    @if (AddingRP || RemovingRP)
    {
        <div>
            <label>@AddRemoveRPMessage</label>
            <InputNumber @bind-Value="@ReputationPointsToAdd"></InputNumber>
        </div>
    }
    
    @if (BanningUser)
    {
        <div class="alert alert-warning">
            If you ban the user, they will no longer be able to log into their account!
        </div>
    }

    <button type="submit" class="btn btn-primary">Save changes</button>
</EditForm>


@code {
    public bool ChangingData { get; set; }

    private bool _addingRP = false;
    public bool AddingRP
    { 
        get => _addingRP;
        set
        {
            _addingRP = value;
            ChangeAddRemoveRPMessage();
        }
    }

    private bool _removingRP = false;

    public bool RemovingRP
    {
        get => _removingRP;
        set
        {
            _removingRP = value;
            ChangeAddRemoveRPMessage();
        }
    }
    public int ReputationPointsToAdd { get; set; }

    public bool BanningUser { get; set; }
    public string AddRemoveRPMessage { get; set; }

    [Parameter]
    public string UserId { get; set; }

    [SupplyParameterFromForm]
    public AdminUserChangeModel AdminUserChangeM { get; set; } = new();

    public class AdminUserChangeModel
    {
        public string OldEmail { get; set; } = "abcd@example.com";
        public string NewEmail { get; set; }
        public string Description { get; set; }
    }

    public async Task AddRecordToDb()
    {

    }

    public void ChangeAddRemoveRPMessage()
    {
        if (AddingRP)
        {
            AddRemoveRPMessage = "Please enter number of points you want to add to the user.";
        }
        else if (RemovingRP)
        {
            AddRemoveRPMessage = "Please enter number of points you want to remove from the user.";
        }
        else
        {
            AddRemoveRPMessage = "";
        }

        Console.WriteLine(AddRemoveRPMessage);
    }
}
