@page "/edit-coin"
@page "/edit-coin/{id:int}"
@using SystemForCoinCollectors.Data
@using SystemForCoinCollectors.Services
@inject ICoinService CoinService

<h3>Create Coin</h3>

<EditForm Model="Coin" enctype="multipart/form-data" OnSubmit="HandleSubmit" FormName="EditCoin">
    <div class="form-group">
        <label for="feature">Feature</label>
        <InputText id="feature" @bind-Value="Coin.Feature" class="form-control">@Coin.Feature</InputText>
    </div>
    
    <div class="form-group">
        <label for="description">Description</label>
        <InputTextArea id="description" @bind-Value="Coin.Description" class="form-control" rows="6">@Coin.Description</InputTextArea>
    </div>
    
    <div class="form-group">
        <label for="issuingVolume">Issuing Volume</label>
        <InputText id="issuingVolume" @bind-Value="Coin.IssuingVolume" class="form-control">@Coin.IssuingVolume</InputText>
    </div>
    
    <div class="form-group">
        <label for="issuingYear">Issuing Year</label>
        <InputText id="issuingYear" @bind-Value="Coin.IssuingYear" class="form-control">@Coin.IssuingYear</InputText>
    </div>
    
    <div class="form-group">
        <label>Image</label>
        <InputFile name="File" class="form-control form-control-file"></InputFile>
    </div>
    
    <div class="form-group">
        @* <Dropdown Color="DropdownColor.Secondary">
            <DropdownToggleButton>Dropdown button</DropdownToggleButton>
            <DropdownMenu>
                <DropdownItem To="#" Type="DropdownItemType.Link">Andorra</DropdownItem>
                <DropdownItem To="#" Type="DropdownItemType.Link">Belgium</DropdownItem>
                <DropdownItem To="#" Type="DropdownItemType.Link">Cyprus</DropdownItem>
            </DropdownMenu>
        </Dropdown> *@
        
        <label for="country">Country</label>
        <InputSelect id="country" @bind-Value="Coin.Country" class="form-control">
            <option value="" disabled>Select a Country</option>
            @foreach (string country in Countries)
            {
                <option value="@country">@country</option>
            }
        </InputSelect>

    </div>

    <button type="submit" class="btn btn-primary submit-button">Submit</button>
</EditForm>

@code {
    [Parameter]
    public int? Id { get; set; }

    [SupplyParameterFromForm]
    public IFormFile File { get; set; }

    [SupplyParameterFromForm]
    Coin Coin { get; set; } = new Coin()
    {
        Feature = string.Empty,
        Description = string.Empty,
    };

    string[] Countries = new[]
    {
        "Andorra", "Austria", "Belgium", "Croatia", "Cyprus", "Estonia", "Finland",
        "France", "Germany", "Greece", "Ireland", "Italy", "Latvia", "Lithuania",
        "Luxembourg", "Malta", "Monaco", "Netherlands", "Portugal", "San Marino",
        "Slovakia", "Slovenia", "Spain", "Vatican City"
    };

    async Task HandleSubmit()
    {
        string folderPath = "wwwroot/images/2_euro_coins/";
        string filePath = Path.Combine(folderPath, File.FileName);
        await using var stream = new FileStream(filePath, FileMode.Create);
        await File.CopyToAsync(stream);
        Coin.Image = filePath;
        await CoinService.AddCoin(Coin);
    }
}
