@page "/edit-coin"
@page "/edit-coin/{id:int}"
@using SystemForCoinCollectors.Data
@using SystemForCoinCollectors.Services
@inject ICoinService CoinService

<h3>Create Coin</h3>

@if (_coinAddedSuccessfully)
{
    <div class="alert alert-success alert-dismissible">
        <a href="/edit-coin" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        Coin has been successfully added to the collection.
    </div>
}

<EditForm Model="Coin" enctype="multipart/form-data" OnValidSubmit="HandleValidSubmit" FormName="EditCoin">
    <div class="form-group">
        <label for="feature">Feature</label>
        <InputText id="feature" @bind-Value="Coin.Feature" class="form-control">@Coin.Feature</InputText>
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <InputTextArea id="description" @bind-Value="Coin.Description" class="form-control" rows="6">@Coin.Description</InputTextArea>
    </div>

    <div class="form-group">
        <label for="issuingVolume">Issuing Volume</label>
        <InputText id="issuingVolume" @bind-Value="Coin.IssuingVolume" class="form-control">@Coin.IssuingVolume</InputText>
    </div>

    <div class="form-group">
        <label for="issuingYear">Issuing Year</label>
        <InputText id="issuingYear" @bind-Value="Coin.IssuingYear" class="form-control">@Coin.IssuingYear</InputText>
    </div>

    <div class="form-group">
        <label>Image</label>
        <InputFile name="File" class="form-control form-control-file"></InputFile>
    </div>

    <div class="form-group">
        <label for="country">Country</label>
        <InputSelect id="country" @bind-Value="Coin.Country" class="form-control">
            <option value="" disabled>Select a Country</option>
            @foreach (string country in Countries)
            {
                <option value="@country">@country</option>
            }
        </InputSelect>

    </div>

    <button type="submit" class="btn btn-primary submit-button">Submit</button>
</EditForm>

@code {
    bool _coinAddedSuccessfully = false;

    [Parameter]
    public int? Id { get; set; }

    [SupplyParameterFromForm]
    public IFormFile File { get; set; }

    [SupplyParameterFromForm]
    Coin Coin { get; set; } = new Coin()
    {
        Feature = string.Empty,
        Description = string.Empty,
    };

    string[] Countries = new[]
    {
        "Andorra", "Austria", "Belgium", "Croatia", "Cyprus", "Estonia", "Finland",
        "France", "Germany", "Greece", "Ireland", "Italy", "Latvia", "Lithuania",
        "Luxembourg", "Malta", "Monaco", "Netherlands", "Portugal", "San Marino",
        "Slovakia", "Slovenia", "Spain", "Vatican City"
    };

    async Task HandleValidSubmit()
    {
        string folderPath = "wwwroot/images/2_euro_coins/";
        string filePath = Path.Combine(folderPath, File.FileName);
        await using var stream = new FileStream(filePath, FileMode.Create);
        await File.CopyToAsync(stream);
        Coin.ImagePath = filePath;
        await CoinService.AddCoin(Coin);
        Reset();

        _coinAddedSuccessfully = true;
    }

    void Reset()
    {
        Coin.Feature = "";
        Coin.Description = "";
        Coin.IssuingVolume = "";
        Coin.IssuingYear = "";
        Coin.Country = Countries[0];
    }
}
